@using Teleoffice.Models
@using Teleoffice.ViewModels.Professional


@{
    ViewData["Title"] = "Professional";    
}
<br>
<h3>Welcome @ViewBag.user.FirstName @ViewBag.user.LastName</h3><br>

<div class="row">
    <div class="col-sm-7">
        @Html.ActionLink("View Appointments", "ViewAppointments", "Professional", new { id = "None"}, new { @class = "btn btn-default appview"})
    </div>
 
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">Notifications</div>
            <div class="panel-body">
                @if (Enumerable.Count(ViewBag.notify)> 0)
            {
                   <ul class="list-group">

                        @foreach (var n in ViewBag.notify)
                        {
                           <li class="list-group-item notification-li">
                               @if (n.Read != 1)
                           {
                                <div class="row">                                   
                                    <div class="col-sm-10"> 
                                        <div class="row">                                      
                                            <div class="col-sm-10">
                                         
                                             @Html.ActionLink((string)@n.Message, "NotificationDetail", "Professional", new { id = @n.Id}, new { @class = "detail"})
                                                <br>
                                                <em>@n.ReceivedTime</em>
                                                 @*// its getting the message from ClientController -> Notification -> Prof *@
                                            
                                         </div>

                                        <div class="col-sm-2">
                                            @Html.ActionLink("X", "Read", "Notification", new { id = @n.Id }, new { @class = "btn btn-default notification-read" })
                                        </div>
                                            </div>
                                        
                                    </div>
                                                                                
                                    
                                </div>

                                }

                            </li>

                            }
                    </ul>
                            }

                        else {
                    <p class="text-center">No new notification!</p>

                }
              @*  @Html.ActionLink("View All", "NotificationDetail", "Notification", new { id = "None" }, new { @class = "btn btn-default" })*@

            </div>
        </div>

    </div>

</div>

 
